<header style="display:flex">
    <div>
        
        <ul class="nav nav-pills flex-column flex-sm-row">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/authors">Author</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/authors/new">Add Author</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books/new">Add Book</a>
            </li>
          </ul>
    </div>
</header>
