<div style="
margin: 2em 0px;
max-width: 620px;
">
  
<div class="input-group mb-3"> 
    <span class="input-group-text" id="basic-addon1">Name</span>
<input type="text" name="name" class="form-control" value="<%= author.name  %>">
</div>
</div>