<h2>Search Authors</h2>
<div style="
margin: 2em 0px;
max-width: 620px;
">
  
<form action="/authors" method="GET">
    
    <div class="input-group mb-3"> 
    <span class="input-group-text" id="basic-addon1">Name</span>
    <input type="text" name="name" class="form-control" value="<%= searchOptions.name  %> ">
    </div>
    <button type="submit" class="btn btn-outline-success">Search</button>
</form> 
</div>
<br>
<% authors.forEach(author=>{ %>
    <div><%= author.name %> </div> 

<% }) %> 

